%script
  var quotes = {};
#check_boxes
  = form_tag
  - @stocks.each do |stock|
    .check_boxes
      = label_tag stock.symbol
      .box= check_box_tag stock.symbol
      %script
        = "quotes['#{stock.symbol}'] = ({name:'#{stock.name}', symbol:'#{stock.symbol}', price:#{stock.price}})"
.clear

#graph